.snippetList {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.snippetList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 0.75em;
  padding: 0.5em 1.25em;
  background-color: #393939;
  border-radius: 10px;
}

.snippetList li:hover {
  background-color: #464545;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
}
