.cancelEditButton:enabled:hover {
  border-color: #b40d0d;
  /* border-width: 0.15em; */
}
.cancelEditButton:focus,
.cancelEditButton:focus-visible {
  outline: 4px auto #b40d0d;
  box-shadow: 0 0 0 3px #7e0909;
}

.saveEditButton:enabled:hover {
  border-color: #09c043;
  /* border-width: 0.15em; */
}
.saveEditButton:focus,
.saveEditButton:focus-visible {
  outline: 4px auto #09c043;
  box-shadow: 0 0 0 3px #068e31;
}
