.navBar {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #a79242;
  border-bottom: 3px solid #b40d0d;
  border-radius: 0.75em;
  margin-bottom: 1em;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0.5em 0 0.25em;
}

.link {
  color: #141414;
  text-shadow: 1px 1px #72601d;
  font-size: 1.05em;
  font-weight: 600;
}

.active {
  font-weight: 700;
  text-decoration: underline;
}
