.womp {
  font-weight: 500;
  font-style: italic;
}

.trombone {
  font-weight: 600;
}

.backHome {
  color: var(--color-success);
  text-decoration: underline;
  font-weight: 600;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.5);
}
