:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.75; /* sets default line space between lines */
  font-weight: 300; /* default, 400 is normal */

  color-scheme: light dark; /* supports light and dark themes, tells browser */
  color: rgba(
    255,
    255,
    255,
    0.87
  ); /* default text color, almost white with some opacity */
  background-color: #242424; /* default background (dark gray) */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0dff5a;
  text-decoration: inherit;
  transition:
    background 0.1s,
    color 0.1s;
}
a:hover {
  color: #09c043;
}

body {
  /* sets up page's base layout */
  margin: 0; /* removes default browser margin (makes layout easier) */
  display: flex;
  place-items: center; /*centers children (like your #root) both vertically and horizontally */
  min-width: 320px; /* prevents layout from breaking on tiny screens */
  min-height: 100vh; /* makes sure the app always fills the whole viewport */
}

h1 {
  font-size: 3.2em; /* bold headings (relative to current font size) */
  line-height: 1.1; /* makes heading lines slihghtly tighter (less vertical spacing) */
}

button {
  border-radius: 8px; /* rounded corners */
  border: 1px solid transparent; /* no border by default, but allows for a colored border on hover */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0dff5a; /* highlights border with the accent on hover */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #4a5464;
    background-color: #efd5ac;
  }
  a:hover {
    color: #747bff;
  }
  button {
    color: #2d3138;
    font-weight: 600;
    background-color: #ff6200;
  }
}
