@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  font-family: 'Ubuntu', Arial, sans-serif;
  line-height: 1.75;
  font-weight: 400;
  color: #ffffffde;
  background-color: #242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;

  /* Dark Mode Default Colors */
  --color-background: #242424;
  --color-text: #ffffffde;
  --color-gold: #a79242;
  --color-accent-gold: #72601d;
  --color-red: #b40d0d;
  --color-accent-red: #7e0909;
  --color-success: #09c043;
  --color-accent-green: #068e31;
  --color-link: #141414;
  --color-snippet: #393939;
  --color-snippet-hover: #464545;
  --color-button-background: #191919;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #393939;
    background-color: #ffffffde;
  }
  a:hover {
    color: #747bff;
  }
  button {
    color: #0dff5a;
    font-weight: 600;
    background-color: #393939;
  }
} */
