@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  font-family: 'Ubuntu', Arial, sans-serif;
  line-height: 1.75;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;

  /* Dark Mode Default Colors */
  --color-background: #242424;
  --color-text: #ffffffde;
  --color-gold: #a79242;
  --color-accent-gold: #72601d;
  --color-red: #b40d0d;
  --color-accent-red: #7e0909;
  --color-success: #09c043;
  --color-accent-green: #068e31;
  --color-link: #141414;
  --color-snippet: #393939;
  --color-snippet-hover: #464545;
  --color-button-background: #191919;

  background-image:
    linear-gradient(#17171763 0.5px, transparent 0.5px),
    linear-gradient(to right, #17171763 0.5px, transparent 0.5px);
  background-size: 13px 13px;
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #929292;
    --color-text: #242424;
    --color-gold: #d8dbde;
    --color-accent-gold: #50b9c7;
    --color-red: #0aa7cf;
    --color-accent-red: #07899a;
    --color-success: #242424;
    --color-accent-green: #121212;
    --color-link: #50b9c7;
    --color-snippet: #d8dbde;
    --color-snippet-hover: #ced0d2;
    --color-button-background: #0aa7cf;

    background-image:
      linear-gradient(#242424 0.1px, transparent 0.3px),
      linear-gradient(to right, #0aa7cf 0.75px, transparent 0.1px);
    background-size: 40px 20px;
    background-color: #869696;
    font-weight: 500;
  }
}
